In [214]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [215]:
df = pd.read_excel('WTP.xlsx', sheet_name='2022',header=1)

In [216]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,pH,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Dennis Penney
0,Date,Shortcut,Start Time,Raw,PTC,PTC (OL),SWC,Filter,Finish (OL),Finish,...,Lime (Pre),Lime (Post),Date,NaN,NaN,NaN,NaN,NaN,NaN,Jerry Loveless
1,2022-01-01 00:00:00,Click Here,0,6.23,5.18,5.16,5.24,5.28,6.87,7.56,...,5.2,11.6,2022-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,Nolan Simms
2,2022-01-02 00:00:00,Click Here,0,0,0,0,0,0,0,0,...,5.2,11.8,2022-01-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022-01-03 00:00:00,Click Here,0,6.18,5.16,5.12,5.2,5.25,7.14,7.1,...,5.2,11.8,2022-01-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022-01-04 00:00:00,Click Here,0,6.12,5.1,5.07,5.17,5.21,6.49,6.62,...,5.2,11.8,2022-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,Continuous
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,November 2022 Average,NaN,NaN,6.63,5.38,5.36,5.47,5.48,6.84,6.91,...,4.47,9.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,December 2022 Average,NaN,NaN,6.53,5.52,5.49,5.57,5.61,7.13,7.2,...,6.33,9.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,2022 Average,NaN,NaN,6.32,5.28,5.29,5.33,5.38,7.12,7.14,...,4.48,8.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [217]:
pH = df.iloc[:, 3:10]

In [218]:
print(pH)

       pH Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7   Unnamed: 8 Unnamed: 9
0     Raw        PTC   PTC (OL)        SWC     Filter  Finish (OL)     Finish
1    6.23       5.18       5.16       5.24       5.28         6.87       7.56
2       0          0          0          0          0            0          0
3    6.18       5.16       5.12        5.2       5.25         7.14        7.1
4    6.12        5.1       5.07       5.17       5.21         6.49       6.62
..    ...        ...        ...        ...        ...          ...        ...
380  6.63       5.38       5.36       5.47       5.48         6.84       6.91
381  6.53       5.52       5.49       5.57       5.61         7.13        7.2
382  6.32       5.28       5.29       5.33       5.38         7.12       7.14
383   NaN        NaN        NaN        NaN        NaN          NaN        NaN
384   NaN        NaN        NaN        NaN        NaN          NaN        NaN

[385 rows x 7 columns]

In [219]:
from sklearn.linear_model import LinearRegression

In [220]:
colour_data = df.iloc[:, 14:20]
turbidity_data = df.iloc[:, 20:26]
pH = pH.drop(0)
colour_data = colour_data.drop(0)
turbidity_data = turbidity_data.drop(0)

In [221]:
print(pH)

       pH Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9
1    6.23       5.18       5.16       5.24       5.28       6.87       7.56
2       0          0          0          0          0          0          0
3    6.18       5.16       5.12        5.2       5.25       7.14        7.1
4    6.12        5.1       5.07       5.17       5.21       6.49       6.62
5    6.27       5.14       5.19       5.24       5.25       6.37       6.22
..    ...        ...        ...        ...        ...        ...        ...
380  6.63       5.38       5.36       5.47       5.48       6.84       6.91
381  6.53       5.52       5.49       5.57       5.61       7.13        7.2
382  6.32       5.28       5.29       5.33       5.38       7.12       7.14
383   NaN        NaN        NaN        NaN        NaN        NaN        NaN
384   NaN        NaN        NaN        NaN        NaN        NaN        NaN

[384 rows x 7 columns]

In [222]:
pH.dropna(inplace = True)
colour_data.dropna(inplace = True)
turbidity_data.dropna(inplace = True)
mask = colour_data.applymap(type).eq(str).any(1)
colour_data = colour_data[~mask]
mask = pH.applymap(type).eq(str).any(1)
pH = pH[~mask]
mask = turbidity_data.applymap(type).eq(str).any(1)
turbidity_data = turbidity_data[~mask]

In [223]:
pH

       pH Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9
1    6.23       5.18       5.16       5.24       5.28       6.87       7.56
2       0          0          0          0          0          0          0
3    6.18       5.16       5.12        5.2       5.25       7.14        7.1
4    6.12        5.1       5.07       5.17       5.21       6.49       6.62
5    6.27       5.14       5.19       5.24       5.25       6.37       6.22
..    ...        ...        ...        ...        ...        ...        ...
378  6.54       5.55       5.46       5.55       5.55       7.19       7.07
379  6.57       5.29       5.34       5.23       5.29       6.98        7.2
380  6.63       5.38       5.36       5.47       5.48       6.84       6.91
381  6.53       5.52       5.49       5.57       5.61       7.13        7.2
382  6.32       5.28       5.29       5.33       5.38       7.12       7.14

[378 rows x 7 columns]

In [224]:
pH_train.astype(float)

      pH  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8
1   6.23        5.18        5.16        5.24        5.28        6.87
2   0.00        0.00        0.00        0.00        0.00        0.00
3   6.18        5.16        5.12        5.20        5.25        7.14
4   6.12        5.10        5.07        5.17        5.21        6.49
5   6.27        5.14        5.19        5.24        5.25        6.37
6   6.20        5.15        5.18        5.25        5.28        6.79
7   6.13        5.17        5.13        5.24        5.25        6.25
8   5.77        5.01        5.08        5.12        5.14        6.83
9   0.00        0.00        0.00        0.00        0.00        0.00
10  6.34        5.14        4.98        5.28        5.23        6.65
11  6.29        5.21        5.20        5.34        5.30        6.89
12  5.97        5.09        5.15        5.36        5.38        7.02
13  6.10        5.07        5.41        5.15        5.16        6.59
14  6.18        5.17        5.17        5.34        5.38        6.74
15  6.17        5.15        5.13        5.28        5.35        7.26
16  0.00        0.00        0.00        0.00        0.00        0.00
17  5.74        5.06        5.06        5.24        5.25        6.65
18  6.04        5.05        5.06        5.18        5.20        6.83
19  6.18        5.15        5.03        5.26        5.30        6.92
20  6.14        5.10        5.15        5.27        5.70        6.98
21  5.83        5.09        5.28        5.16        5.15        6.72
22  5.81        5.03        4.97        5.16        5.14        6.69
23  0.00        0.00        0.00        0.00        0.00        0.00
24  6.00        5.01        5.24        5.06        5.20        7.25
25  5.98        5.02        5.06        5.18        5.26        6.80
26  5.84        4.82        5.04        5.09        5.04        6.63
27  6.01        6.02        5.42        6.21        5.51        5.31
28  5.83        5.02        5.08        5.14        5.23        7.14
29  5.70        5.13        5.20        5.28        5.33        7.26
30  0.00        0.00        0.00        0.00        0.00        0.00
31  5.67        5.21        5.22        5.25        5.26        6.84
32  5.95        5.15        5.33        5.27        5.29        7.19
33  5.92        5.24        5.24        5.31        5.33        7.18
34  5.81        5.35        5.23        5.38        5.39        7.22
35  6.09        5.35        5.35        5.33        5.51        7.90
36  6.04        5.26        5.36        5.29        5.46        7.47
37  0.00        0.00        0.00        0.00        0.00        0.00
38  5.47        5.11        5.26        5.26        5.40        7.26
39  5.81        5.28        5.28        5.40        5.37        7.31
40  5.96        5.08        5.28        5.41        5.34        7.12
41  6.01        5.11        5.13        5.29        5.31        7.39
42  5.52        5.07        5.11        5.12        5.20        6.93
43  6.18        5.22        5.25        5.25        5.27        6.89
44  0.00        0.00        0.00        0.00        0.00        0.00
45  5.97        5.12        5.24        5.30        5.33        6.87
46  6.00        5.07        5.12        5.11        5.21        6.59
47  5.91        5.09        5.15        5.18        5.20        6.84
48  5.96        5.09        5.12        5.24        5.29        6.97
49  5.80        5.06        5.12        5.19        5.28        6.80
50  5.97        5.20        5.14        5.25        5.25        6.75

In [225]:
pH_train = pH.iloc[:50, :]
pH_test = pH.iloc[51:, :]
colour_train = colour_data.iloc[:50, :]
colour_test = colour_data.iloc[51:, :]
turbidity_train = turbidity_data.iloc[:50, :]
turbidity_test = turbidity_data.iloc[51:, :]

In [226]:
colour_test

    Colour Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18 Unnamed: 19
52      68          57          40           6          10           0
53      69          58          29           2           1           0
54      77          65          35           5          11           0
55      76          65           7           6          10           0
56      79          69          11           4           7           0
..     ...         ...         ...         ...         ...         ...
372  74.33       65.74       31.07        3.62        5.88           1
379  34.23       26.46       27.41        6.04        3.21        2.33
380  41.19       32.62       27.27           5        7.05           2
381  43.78       35.59       20.78        4.29        4.14           1
382  48.94       40.55        21.2        3.42        4.39        1.63

[318 rows x 6 columns]

In [227]:
reg = LinearRegression().fit(pd.concat([pH_train.astype(float), turbidity_train.astype(float)], axis=1), colour_train)

In [228]:
predicted_colour = reg.predict(pd.concat([pH_test.astype(float), turbidity_test.astype(float)], axis=1))

In [229]:
predicted_colour

array([[ 6.62008174e+01,  5.64147277e+01,  2.52989194e+01,
         3.08820948e+00,  1.08552987e+00,  0.00000000e+00],
       [ 6.30408117e+01,  5.27649566e+01,  1.92545621e+01,
         4.58102121e-01,  7.13429680e-01,  0.00000000e+00],
       [ 6.82656222e+01,  5.95726662e+01,  2.09594491e+01,
        -2.65713984e-01,  9.57113587e-01,  0.00000000e+00],
       ...,
       [ 6.73375996e+01,  5.84581683e+01,  3.18964245e+01,
         3.58325014e+00,  5.89145431e-01,  0.00000000e+00],
       [ 6.81414482e+01,  5.94366875e+01,  2.29635733e+01,
         1.56476842e+00, -3.84324749e-01,  0.00000000e+00],
       [ 6.64755985e+01,  5.71067567e+01,  2.49586230e+01,
         1.80408668e+00, -2.40767621e-02,  0.00000000e+00]])

In [230]:
from sklearn.metrics import r2_score